<form
  *ngIf="userForm"
  [formGroup]="userForm"
  (ngSubmit)="onSubmit()"
  class="form-container"
>
  <div class="row">
    <div>
      <label>First Name*</label>
      <input formControlName="firstName" type="text" />
      <div
        class="error"
        *ngIf="controls['firstName'].touched && controls['firstName'].invalid"
      >
        Required
      </div>
    </div>

    <div>
      <label>Last Name*</label>
      <input formControlName="lastName" type="text" />
      <div
        class="error"
        *ngIf="controls['lastName'].touched && controls['lastName'].invalid"
      >
        Required
      </div>
    </div>
  </div>

  <div class="row">
    <div>
      <label>Email*</label>
      <input formControlName="email" type="email" />
      <div
        class="error"
        *ngIf="controls['email'].touched && controls['email'].invalid"
      >
        Valid Email Required
      </div>
    </div>

    <div>
      <label>Date of Birth*</label>
      <input formControlName="dob" type="date" />
      <div class="note">(Min. age should be 18 Years)</div>
      <div
        class="error"
        *ngIf="controls['dob'].touched && controls['dob'].errors?.['tooYoung']"
      >
        Must be at least 18 years
      </div>
    </div>
  </div>

  <h4>Residential Address</h4>
  <div class="row">
    <div>
      <label>Street 1*</label>
      <input formControlName="resStreet1" type="text" />
      <div
        class="error"
        *ngIf="controls['resStreet1'].touched && controls['resStreet1'].invalid"
      >
        Required
      </div>
    </div>

    <div>
      <label>Street 2*</label>
      <input formControlName="resStreet2" type="text" />
      <div
        class="error"
        *ngIf="controls['resStreet2'].touched && controls['resStreet2'].invalid"
      >
        Required
      </div>
    </div>
  </div>

  <label class="checkbox-container">
    <input type="checkbox" formControlName="sameAsResidential" />
    Same as Residential Address
  </label>

  <h4>Permanent Address</h4>
  <div class="row">
    <div>
      <label>Street 1</label>
      <input formControlName="permStreet1" type="text" />
      <div
        class="error"
        *ngIf="
          controls['permStreet1'].touched &&
          controls['permStreet1'].invalid &&
          !controls['sameAsResidential'].value
        "
      >
        Required
      </div>
    </div>

    <div>
      <label>Street 2</label>
      <input formControlName="permStreet2" type="text" />
      <div
        class="error"
        *ngIf="
          controls['permStreet2'].touched &&
          controls['permStreet2'].invalid &&
          !controls['sameAsResidential'].value
        "
      >
        Required
      </div>
    </div>
  </div>

  <div class="button-row">
    <button type="submit" [disabled]="userForm.invalid">Submit</button>
    <button type="button" (click)="resetForm()">Reset</button>
  </div>
</form>
